{% extends 'bible_cross_reference_database/base.html' %}

{% block content %}
    <h1>{{ object }}</h1>

    <p><b>Category:</b> {{ object.classification }}</p>

    <p><b>Explanation:</b> {{ object.explanation }}</p>

    {% if object.sources_as_list %}
        <p><b>Source{{ object.sources_as_list|pluralize }}:</b> </p>
        <ul>
            {% for source in object.sources_as_list %}
                <li>{{ source }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
